<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Customer AccountTest Actions">
<!--    <test name="Customer Login and Logout">-->
<!--        <classes>-->
<!--            <class name="AccountTest.LoginAndLogoutTest"/>-->
<!--        </classes>-->
<!--    </test> &lt;!&ndash; Test &ndash;&gt;-->

    <test name="Customer AccountTest Creation">
        <classes>
            <class name="AccountTest.CreatingCustomerTest"/>
            <class name="AdminTest.CustomerDeleteTest"/>
        </classes>
    </test> <!-- Test -->
</suite>


<!--<test name="Adding Addresses">-->
<!--<classes>-->
<!--    <class name="AccountTest.AddAddresses"/>-->
<!--</classes>-->
<!--</test> &lt;!&ndash; Test &ndash;&gt;-->
<!--    <test name="Account Information Page Test">-->
<!--        <classes>-->
<!--            <class name="AccountTest.AccountInformationPageTest"/>-->
<!--        </classes>-->
<!--    </test> &lt;!&ndash; Test &ndash;&gt;-->
<!--    <test name="AddToCartFromWishListTest">-->
<!--        <classes>-->
<!--            <class name="AccountTest.AddToCartFromWishListTest"/>-->
<!--        </classes>-->
<!--    </test> &lt;!&ndash; Test &ndash;&gt;-->
<!--    <test name="AddToWishListGuestTest">-->
<!--        <classes>-->
<!--            <class name="AccountTest.AddToWishListGuestTest"/>-->
<!--        </classes>-->
<!--    </test> &lt;!&ndash; Test &ndash;&gt;-->
<!--    <test name="AddToWishListTest">-->
<!--        <classes>-->
<!--            <class name="AccountTest.AddToWishListTest"/>-->
<!--        </classes>-->
<!--    </test> &lt;!&ndash; Test &ndash;&gt;-->

<!--    <test name="Delete Customer">-->
<!--        <classes>-->
<!--            <class name="AdminTest.CustomerDeleteTest"/>-->
<!--        </classes>-->
<!--    </test> &lt;!&ndash; Test &ndash;&gt;-->


<!--</suite> &lt;!&ndash; Suite &ndash;&gt;-->